.profile__edit-button {
  grid-area: button;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit_Button.svg);
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  border: 1px solid #ffffff;
  transition: opacity 0.6s linear;
  cursor: pointer;
  margin-bottom: 10px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 770px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 620px) {
  .profile__edit-button {
    margin-bottom: 0;
  }
}