.profile {
  width: 100%;
  display: grid;
  grid-template-columns: 120px 368px auto 150px;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 770px) {
  .profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    margin-bottom: 24px;
  }
}