.header {
  display: flex;
  box-sizing: border-box;
  max-width: 880px;
  width: 100%;
  border-bottom: 1px solid #545454;
  padding: 45px 0 30px;
}
  
@media screen and (max-width: 770px) {
  .header {
    padding-top: 28px;
  }
}