.profile__info {
  display: grid;
  grid-template-areas:
    "name button"
    "note .";
  align-items: center;
  gap: 16px 18px;
  margin-left: 30px;
  
}

@media screen and (max-width: 770px) {
  .profile__info {
    margin: 2px auto 0;
    gap: 9px 10px;
    transform: translateX(13px);
  }
}